<section class="container"style="padding-top:56px">
  <div class="row">
    <div class="col-lg-3"></div>

    <div class="col-xs-12 col-lg-6">
      <p class="footer">2023 &copy;	Made with 💝 by Userstand SAS, France, SIRET 85242310200015 <b><br>Have a feedback or a question? Contact us at <a href="mailto:sqlboss@userstand.com">sqlboss@userstand.com</a></p>
    </div>

    <div class="col-lg-3"></div>
  </div> 
</section>

<script src="/assets/js/customize.js"></script>
<script src="/assets/js/prism.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TL8NCBG');</script>
<!-- End Google Tag Manager -->
