<h2><span class="black-text-span" style="width:max-content">Practice problems</span></h2>
<h3 class="h3-big-margin"><span class="grey-text-span">Instructions & datasets' schemas (<a href="https://en.wikipedia.org/wiki/RTFM" target="_blank" style="text-decoration:underline">RTFM</a> 😉)</span></h3>
<div class="collapsible-parent">
  <p><a href="#" class="hide-control">🙈 Hide</a><a href="#" class="show-control">👀 Show</a></p>
  <div class="practice-problems-instructions collapsible-item">
    <p><strong>Datasets' schemas:</strong></p>
    <ul>
      <li><a href="https://dbdiagram.io/d/639f006299cb1f3b55a21427" target="_blank">TheLook Ecommerce</a></li>
      <li><a href="https://support.google.com/analytics/answer/7029846" target="_blank">[GA4] BigQuery Export schema</a></li>
      <li><a href="https://www.kaggle.com/datasets/danofer/dbpedia-classes" target="_blank">DBPedia Classes</a></li>
    </ul>

    <p><strong>Result format</strong>: each practice problem is provided with an example screenshot of the expected results. Try to reproduce the columns, formatting and sorting order visible in the screenshot. Decimal numbers should generally be displayed with two decimals at most (as soon as you learn how to do it 😊).</p>

    <p><strong>Solutions</strong>:</p>
    <ol>
      <li>There are usually many ways to solve a SQL problem. The solutions provided here are just one way to do it. They are not optimized for performance but for readability and comprehension.</li>
      <li>In general, try to use the features explained in the current lesson. For example, if the lesson introduces the LEAD function, you should try to solve the related practice problems using that function.</li>
      <li>Only use the tables specified in the problem statement.</li>
      <li>In order to validate your solution, <strong>don’t rely on the values displayed in the example screenshots: run the solution code in the BigQuery console and compare these real-time results with yours</strong>.</li>
      <li>Also note that if there’s no <code>ORDER BY</code> clause in the code, the order of the returned rows might be different each time. In that case, do not worry as long as the solution code also returns different values each time it’s run.</li>
    </ol>
  </div>
</div>
