.logo {
  max-width: 250px;
}

.menu-links div {
  padding-left: 48px;
}

.mobile-margin-48 {
  margin-top: 48px;
}

.top-section {
  padding-top: 156px;
}


.teacher-section {
  flex-direction: column;
}
.teacher-visuals {
  padding-bottom: 72px;
}
.teacher-visuals div:first-of-type {
  padding-bottom: 32px;
}
.linkedin-icon {
  width:64px
}


.plans {
  flex-direction: column;
}

.pricing-plan {
  margin-right: 0px;
  margin-bottom: 96px;
  font-size: 12px;
  padding: 44px 64px;
}

div, p, ol, ul, li {
  font-size: 64px;
  line-height: 84px;
}

h1, p.lesson-quote {
  font-size: 64px;
  line-height: 74px;
  margin-top: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
  letter-spacing: -0.2px;
  max-width: min-content;
}
h1.lesson-title {
  font-size: 96px;
  line-height: 124px;
  padding: 0px;
  margin-top: 124px;
  margin-bottom: 72px;
  max-width: min-content;
}

h2 {
  font-size: 96px;
  line-height: 124px;
  margin-top: 124px;
  margin-bottom: 72px;
  max-width: min-content;
}

h3 {
  font-size: 72px;
  line-height: 96px;
  letter-spacing: -0.2px;
  max-width: max-content;
  padding-bottom: 36px;
}

h4 {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.2px;
  max-width: max-content;
  padding-bottom: 24px;
}

p {
  padding-bottom: 64px;
}

li {
  padding-bottom: 48px;
}

.btn-wrapper {
  padding-top:24px;
  padding-bottom:24px;
  margin-top: 38px;
  margin-bottom: 38px;
}

.btn-wrapper button.btn {
  font-size: 72px;
  border-radius: 12px;
}

.price {
  font-size:72px;
}

.cta {
  width:100%;
  font-size:48px !important;
}

.menu-links a {
  font-size: 36px;
}

.footer {
  font-size: 32px;
  margin-top: 96px;
  text-align: center;
}

.formkit-field {
  padding-top: 56px !important;
}

.formkit-input {
  font-size: 64px !important;
  line-height: 84px !important;
}

.formkit-submit.formkit-submit {
  font-size: 64px !important;
  line-height: 84px !important;
}

.scribbles-container {
  display: none;
}

.pricing-subtitle {
  font-size: 36px;
}

.custom-request-info {
  padding-top: 24px;
}

.dataset-details {
  margin-top:256px;
}

/* LESSONS */
img.illustration {
  max-width: 100%;
}

.hide-control, .show-control {
  font-size: 48px;
}

figcaption a {
  font-size: 0.4em;
}

pre.language-sql {
  padding: 0px 28px;
}

code.language-sql {
  font-size: 0.65em;
}
.lesson-navigation {
  display: flex;
  flex-direction: column;
}
.lesson-navigation * {
  font-size: 0.9em;
}
.lesson-navigation div {
  padding-bottom: 24px;
}

/* NAVIGATION */
button.btn.btn-warning.see-sample.fixed-see-sample-button {
  font-size: 48px;
}
