<html>
  {% include header.html %} 

  <body>
    <div class="scribbles-container">
      <img src="/assets/images/scribble-4.svg" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;position: absolute;left: auto;top: 50px;right: 0;bottom: 0;width: 16vw;max-width: 250px;">
      <img src="/assets/images/scribble-58.svg" loading="lazy" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;position: absolute;left: 0;top: 100px;right: auto;bottom: auto;width: 16vw;max-width: 200px;">
    </div>
    <section class="container top-section">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-xs-12 col-lg-6">
          {% include navigation.html %}
          {{ content }}
        </div>

        <div class="col-lg-3"></div>
      </div>  
    </section> 

    {% include footer.html %} 
  </body>
</html>
